<nav class="networks-container">
    <h4>{{languageService.activedLanguage() === 'fr' ? 'Réseaux sociaux': 'Follow us on'}}</h4>

    <div class="line"></div>

    <ul class="networks-list">
        <li class="networks-item">
            <a href="#" class="networks-link"><i class="fa fa-facebook"></i></a>
        </li>
        <li class="networks-item">
            <a href="#" class="networks-link"><i class="fa fa-twitter"></i></a>
        </li>
        <li class="networks-item">
            <a href="#" class="networks-link"><i class="fa fa-google"></i></a>
        </li>
        <li class="networks-item">
            <a href="#" class="networks-link"><i class="fa fa-instagram"></i></a>
        </li>
        <li class="networks-item">
            <a href="#" class="networks-link"><i class="fa fa-linkedin"></i></a>
        </li>
    </ul>
</nav>